<html>
<head>
    <style>
        br{
            display: block; /* makes it have a width */
            content: ""; /* clears default height */
            margin-top: 20; /* change this to whatever height you want it */
        }
        body{
            margin-left:20px;
            font-family: sans-serif;
            }
    </style>
</head>
<body>
<h1>API usage instructions</h1>

<h2>URL: {{data}}api</h2>

<br/>
<br/>
<h2>KEYS: ["file", "data", "lng", "feat"]</h2>
<h4>What should be processed</h4>
file: file that should be processed [file]
<br/>
OR
<br/>
data: string that should be processed [string] (can also be URL to a text file)
<h4>How it should be processed</h4>
<br/>
lng: language code [string]
<br/>
AND
<br/>
feat: type of features required ["ner"|"nel"|"nernel"|"geo"]
<br/>
&emsp;"ner" will trigger only NER parsing of the above submitted text<br/>
&emsp;"nel" will trigger only NEL parsing of the above submitted text<br/>
&emsp;"nernel" will trigger both<br/>
&emsp;"geo" will trigger both NER and NEL parsing, but will produce a Geolocation map.
</body>
</html>