<html >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='ner.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
$(document).ready(function() {

  $("[ref]").click(function() {
    window.open($(this).attr("ref"), '_blank').focus();
    return false;
  });
});
function dwn(){
        var r = $('#response').html();

        const array = ["loc", "pers", "org", "demo", "work", "event", "person", "wdt"]
        array.forEach(function (item, index) {
          r = r.replace('<' + item + '>', '<' + item.toUpperCase() + '>');
          r = r.replace('</' + item + '>', '</' + item.toUpperCase() + '>');
        });

      var base64doc = btoa(unescape(encodeURIComponent(r))),
      a = document.createElement('a'),
      e = new MouseEvent('click');

  a.download = 'results';
  a.href = 'data:application/xml;base64,' + base64doc;
  a.dispatchEvent(e);
}
    </script>
</head>

<body>
<button onclick="dwn()" style="float:right">Download XML</button>
<br/><br/>
<div id="response">{{data|safe}}</div>
</body>
</html>